*
{
    margin: 0px;
    padding: 0px;
}

@import url("https://fonts.googleapis.com/css?family=Sofia");
@import url("https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap");

.backgrnd
{
    width: 100%;
    height: 100vh;
    background-image: url(./images/bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.content
{
    background-color: rgba(134, 126, 114, 0.8);
    height: 600px;
    width:80%;
    border-radius: 50px;
    display: inline-block;
    

    
}
.header
{
    width:100%;
    height:10%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo
{
    
    color: rgb(240, 237, 203);
    padding: 20px;
    font-size: 95%;
    letter-spacing: 1px;
    font-family: "Sofia";
    
}
.score
{
    background-color: rgb(255, 255, 255);
    padding: 4px;
    border-radius: 50px;
    font-size: 70%;
    display: flex;
    justify-content: space-between;
    margin-right: 5%;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    letter-spacing: 1px;
    font-weight: bold;
    color: rgb(88, 8, 84);
    border: 2px solid rgb(112, 5, 112);
    
    
    
}
.inner
{
    width: 100%;
    height:100%;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.game
{
    width:50%;
    height:70%;
    /* background-color: blanchedalmond; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ques{
    font-family: 'Hina Mincho', serif;
    font-size: 350%;
    margin-top: -180px;
    color: rgb(240, 237, 203);
    font-weight: bolder;

}

.answer{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.inp{
    height: 40px;
    font-size: 18px;
    border:3px solid rgb(88, 8, 84);
    border-radius: 10px;
    text-indent: 50px;
    outline: none;
    margin-bottom: 30px;
    
    
}
.btn{
    padding-top: 7px;
    padding-bottom: 7px;
    margin-top: 10px;
    border-radius: 10px;
    border:none;
    cursor: pointer;
    background-color: rgb(240, 237, 203);
    color: rgb(50, 0, 78);
    font-size: 16px;
    text-transform: uppercase;
}
